<p>Bonjour,</p>
<p>
  Nous espérons que votre récente consultation avec notre cabinet vous a été utile. Nous nous permettons de faire un suivi afin de vous rappeler que nous restons entièrement disponibles si vous avez de nouvelles questions, besoin de conseils juridiques supplémentaires ou si vous souhaitez effectuer un suivi de votre dossier.
</p>
<p>
  N'hésitez pas à nous contacter si vous souhaitez un second rendez-vous ou si vous désirez aller de l'avant avec la signature d'un contrat de services. Il nous fera plaisir de vous accompagner avec professionnalisme et rigueur, que ce soit pour un simple suivi ou une représentation complète.
</p>
<p>
  Nous vous rappelons également qu'Allen Madelin Avocats offre des services dans plusieurs domaines du droit, notamment en matière d'emploi, de successions, de régimes de protection, de diffamation, d'immobilier, de droit de la famille et de divorce.
</p>
<p>
  Au plaisir de vous revoir et de pouvoir vous assister à nouveau.
</p>
<p>Cordialement,</p>