# Python requirements
pyinstaller
pywebview
pywinauto
pyautogui
pytesseract
pillow

# Windows requirements (manual installation required)
# - Newtonsoft.Json.dll (included in app/src/cs/bin)
# - Microsoft .NET Framework net48 (install NDP48-DevPack-ENU.exe, needed for compilation)
