# Python requirements
pywebview
pyinstaller
pywinauto

# Windows requirements (manual installation required)
# - Newtonsoft.Json.dll (place in app/office)
# - Microsoft .NET Framework net48 (run NDP48-DevPack-ENU.exe)